__pycache__/
*.py[cod]
.Python
.DS_Store
/.eggs/
/docs/_build/
/bin/
/build/
/django_thummer.egg-info/
/geckodriver.log
/include/
/lib/
/lib64
/local/
/pip-selfcheck.json
/pyvenv.cfg
/share/
/src/
/wheelhouse/
